extends index

block css
  include ../../commonlib
  link(rel='stylesheet' type='text/css' href='/public/css/CanteenManageMarket/Activity/main.css')
  link(rel='stylesheet' type='text/css' href='/public/css/CanteenManageMarket/Activity/base64.css')
  link(rel='stylesheet' type='text/css' href='lib/public/css/datepicker.min.css')

block bottom
  script(src='/public/js/CanteenManageMarket/Activity/main.js', type='text/javascript')
  script(src='lib/public/js/datepicker.min.js', type='text/javascript')
