extends index

block css
  script(src='/public/js/common/extra.min.js' type='text/javascript')
  link(rel='stylesheet' type='text/css' href='/public/css/CanteenManageMarket/Activity/main.min.css')
  link(rel='stylesheet' type='text/css' href='/public/css/CanteenManageMarket/Activity/base64.min.css')

block bottom
  script(src='/public/js/CanteenManageMarket/Activity/main.min.js' type='text/javascript')
