extends ../../layout

block mainHead
  p.title 活动发布

block head
  script(src="/Manage/Data/Statistics/Data" type="text/javascript" async='async')
  meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
  title Braeco
  block css

block content
  include dataMain
  //- include uploadCanteenImage
  //- include activitySpinner
