extends index

block css
	include ../../../commonlib
	link(rel='stylesheet' type='text/css' href='/public/css/CanteenManageMarket/Member/List/main.css')
	link(rel='stylesheet' type='text/css' href='/public/css/CanteenManageMarket/Member/List/base64.css')

block bottom
	script(src='/public/js/CanteenManageMarket/Member/List/main.js', type='text/javascript')

block data
	#json-field [{"id":"57","phone":"15626466874","nick":"\u6e38\u5ba2","level":"LV5.\u94bb\u77f3","EXP":"30000","balance":"2805.88","date":"1460257458","id_of_dinner":1},{"id":"56","phone":"13929582490","nick":"\u6e38\u5ba2","level":"LV0.\u9ed1\u94c1","EXP":"0","balance":"0","date":"1460088578","id_of_dinner":1},{"id":"55","phone":"15626407328","nick":"\u6e38\u5ba2","level":"LV0.\u9ed1\u94c1","EXP":"0","balance":"0","date":"1458384266","id_of_dinner":1},{"id":"5","phone":"13824418410","nick":"\u6768\u715c\u8363@Braeco","level":"LV0.\u9ed1\u94c1","EXP":"0","balance":"0","date":"1458384061","id_of_dinner":1},{"id":"44","phone":"-","nick":"\u7eaa\u4e91","level":"LV5.\u94bb\u77f3","EXP":"10000","balance":"989.99","date":"1457585537","id_of_dinner":1},{"id":"28","phone":"15521308077","nick":"pony","level":"LV0.\u9ed1\u94c1","EXP":"0","balance":"0","date":"1457263104","id_of_dinner":1},{"id":"54","phone":"18507305308","nick":"\u6e38\u5ba2","level":"LV0.\u9ed1\u94c1","EXP":"0","balance":"0","date":"1457247701","id_of_dinner":1},{"id":"4","phone":"18819473259","nick":"Casta","level":"LV5.\u94bb\u77f3","EXP":"56045","balance":"0","date":"1457157207","id_of_dinner":1},{"id":"3","phone":"-","nick":"\u70c8\u68a6","level":"LV5.\u94bb\u77f3","EXP":"51390","balance":"5631","date":"1457089312","id_of_dinner":1}]

block pageData
	#page-JSON-field {"pn":2,"sum_pages":100,"by":"create_date","in":"ASC","search":15626470328}