#full-cover
	.full-cover-wrapper
		.full-cover-container
			.popup.modify-field.total-center.hide
				.title-field
					.title-wrapper.parallel-container
						p.title 修改积分
						.close-field
							.close-btn
						.clear
					.content-field
						.content-wrapper.parallel-container
							.integral-field
								p 目前积分：
							.modifyIntegral
							.level-field
								p 积分修改为
								input#_input1
						.clear
						.preview-field
							.preview-wrapper.parallel-container
								p.displayID
								span._txt1 微信昵称：
								p.WechatName
								span._txt2 电话号码：
								p.phoneNumber
								span._txt3 会员编号：
								p.memberID
								span._txt4 目前余额：
								p.parent
								span._unit 元
					.btn-field
						.btn-wrapper
							.btn-container
								.cancel-btn.btn
									p 取消
								.confirm-btn.btn
									p 确定
								.clear
			.popup.recharge-field.total-center.hide
				.title-field
					.title-wrapper.parallel-container
						p.title 充值
						.close-field
							.close-btn
						.clear
					.content-field
						.content-wrapper.parallel-container
							.parentMoney-field
								p 目前余额：
							.modifyIntegral
							span 元
							.rechargeMoney-field
								p 充值金额
								input#_input2
						.clear
						.preview-field
							.preview-wrapper.parallel-container
								p.displayID
								span._txt1 微信昵称：
								p.WechatName
								span._txt2 电话号码：
								p.phoneNumber
								input._suppPhone
								span._txt3 会员编号：
								p.memberID
								span._txt4 目前积分：
								p.parent
					.btn-field
						.btn-wrapper
							.btn-container
								.cancel-btn.btn
									p 取消
								.confirm-btn.btn
									p 确定
								.clear