extends index

block css
  link(rel='stylesheet' type='text/css' href='/public/css/CanteenManageMarket/Activity/main.min.css')
  link(rel='stylesheet' type='text/css' href='/public/css/CanteenManageMarket/Activity/base64.min.css')

block bottom
  script(src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous")
  script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.6/angular.min.js' type='text/javascript')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.6/angular-resource.min.js' type='text/javascript')
  script(src='/public/js/CanteenManageMarket/Activity/main.min.js' type='text/javascript')
  script(src='/public/js/common/extra.min.js' type='text/javascript')
