#braeco-head-nav
	.nav-wrapper
		.nav-container
			.name-wrapper
				.name-pic-field
					.name-pic
			.account-wrapper
				.account-container
					.ac-name-field
						a(href="#")
							.logo-container
								.logo-pic
							p.name 杯口咖啡
							.arrow-container
								.arrow-pic
							.clear
					.ac-op-container
						ul.ac-op-list
							a(href="#")
								li#canteen-info-field
									.ac-op-field
										#canteen-info-icon.icon
										p#canteen-info 餐厅信息
							a(href="#")
								li#canteen-log-field
									.ac-op-field
										#canteen-log-icon.icon
										p#canteen-log 餐厅日志
							a(href="#")
								li#modify-pass-field
									.ac-op-field
										#modify-pass-icon.icon
										p#modify-pass 修改密码
							a(href="#")
								li#sign-out-field
									.ac-op-field
										#sign-out-icon.icon
										p#sign-out 安全退出