#braeco-sidebar
	.sidebar-wrapper
		.config-menu
			.config-menu-header.menu-header.a-link
				a(href = "/Manage/Extra/Config")
					icon.config-icon-pic
					p.header 配置向导
		.braeco-manage-menu
			#menu-manage.sub-menu
				.sub-menu-header.menu-header
					icon.menu-icon-pic
					p.header 菜单管理
				ul.sub-menu-content-list
					li#Category-sub-menu.sub-menu-content.a-link
						a(href = "/Manage/Menu/Category")
							p.sub-name 品类
					li#Food-sub-menu.sub-menu-content.a-link
						a(href = "/Manage/Menu/Food/Single")
							p.sub-name 单品
					li#Combo-sub-menu.sub-menu-content.a-link
						a(href = "#")
							p.sub-name 套餐
					li#Mandatory-sub-menu.sub-menu-content.a-link
						a(href = "#")
							p.sub-name 必选
			#market-manage.sub-menu
				.sub-menu-header.menu-header
					icon.market-icon-pic
					p.header 营销管理
				ul.sub-menu-content-list
					li#Activity-sub-menu.sub-menu-content.a-link
						a(href = "/Manage/Market/Activity")
							p.sub-name 活动发布
					li#Promotion-sub-menu.sub-menu-content.a-link
						a(href = "/Manage/Market/Promotion/Single")
							p.sub-name 优惠促销工具
					li#Discount-sub-menu.sub-menu-content.a-link
						a(href = "/Manage/Market/Member/List")
							p.sub-name 会员
					li#Card-sub-menu.sub-menu-content.a-link
						a(href = "/Manage/Market/Coupon/Basic")
							p.sub-name 卡券
					li#Col-Recommend-sub-menu.sub-menu-content.a-link
						a(href = "#")
							p.sub-name 搭配推荐
			#data-manage.sub-menu
				.sub-menu-header.menu-header
					icon.data-icon-pic
					p.header 数据管理
				ul.sub-menu-content-list
					li#Order-sub-menu.sub-menu-content.a-link
						a(href = "/Manage/Data/Record/Order")
							p.sub-name 流水订单
					li#Data-sub-menu.sub-menu-content.a-link
						a(href = "/Manage/Data/Statistics")
							p.sub-name 数据统计
					li#Market-Analysis-sub-menu.sub-menu-content.a-link
						a(href = "#")
							p.sub-name 营销分析
			#basic-business.sub-menu
				.sub-menu-header.menu-header
					icon.business-icon-pic
					p.header 基础业务
				ul.sub-menu-content-list
					li#Hall-Order-sub-menu.sub-menu-content.a-link
						a(href = "/Manage/Business/HallOrder/Basic")
							p.sub-name 堂食自主点餐
					li#Outer-Order-sub-menu.sub-menu-content.a-link
						a(href = "#")
							p.sub-name 预订外带
					li#TakeAway-sub-menu.sub-menu-content.a-link
						a(href = "#")
							p.sub-name 外卖
			#restaurant-settings.sub-menu
				.sub-menu-header.menu-header
					icon.settings-icon-pic
					p.header 餐厅设置
				ul.sub-menu-content-list
					li#Staff-sub-menu.sub-menu-content.a-link
						a(href = "/Manage/Settings/Staff/Account")
							p.sub-name 员工管理
					li#Pay-sub-menu.sub-menu-content.a-link
						a(href = "#")
							p.sub-name 支付渠道
					li#Download-sub-menu.sub-menu-content.a-link
						a(href = "#")
							p.sub-name 产品安装
