extends index

block css
	include ../../../commonlib
	link(rel='stylesheet' type='text/css' href='/public/css/CanteenManageMenu/Food/Property/main.css')
	link(rel='stylesheet' type='text/css' href='/public/css/CanteenManageMenu/Food/Property/base64.css')

block bottom
	script(src='/public/js/CanteenManageMenu/Food/Property/main.js', type='text/javascript')
