#property-main
	.property-new-btn-field
		.new-btn.btn
			.content-field
				.logo
				p 新建属性组
		.clear
	.property-table-field
		.property-table
			.property-header-container
				ul.t-header-list.parallel-container
					li.t-name
						.name-field
							p 名称
					li.t-choose-spread
						.choose-spread-field
							p 选项与价差
					li.t-using-num
						.using-num-field
							p 适用单品数
					li.t-oper
						.oper-field
							p 操作
					.clear
			.property-body-container
				ul.t-property-list
					
