@import "../common";

#mainpage {
    display: none;
    background-color: #FFFFFF;
    font-family: Hiragino Sans GB, Microsoft Yahei, sans-serif;
    #mainpage-wrapper {
        #mainpage-container {
            #top-container {
                height: 70px;
                background-color: #4A4A4A;
                .logo {
                    margin: 20px 0 0 200px;
                    float: left;
                    background-size: contain;
                    background-repeat: no-repeat;
                    width: 78px;
                    height: 31px;
                }
                .user {
                    margin: 20px 256px 0 0;
                    color: #FFFFFF;
                    float: right;
                    .login-btn,
                    .txt,
                    .register-btn {
                        float: left;
                    }
                    .txt {
                        margin: 0 5px 0 5px;
                    }
                }
            }
            #release-container {
                width: 900px;
                height: 600px;
                margin: 30px 0 0 200px;
                .release-title {
                    height: 36px;
                    color: #4A4A4A;
                    font-size: 36px;
                    p {
                        float: left;
                    }
                    .release-more {
                        margin-top: 20px;
                        float: right;
                        font-size: 14px;
                    }
                }
            }
            #middle-container {
                height: 60px;
                padding: 20px 0 0 200px;
                background-color: #1E7DA5;
                .movie-select,
                .hall-select,
                .season-select {
                    margin-right: 30px; 
                    float: left;
                    select {
                        color: #8D8D8D;
                        border: solid 1px #8D8D8D;
                        width: 160px;
                        height: 40px;
                    }
                }
            }
            #soon-container {
                width: 900px;
                height: 600px;
                margin: 30px 0 0 200px;
                .soon-title {
                    height: 36px;
                    color: #4A4A4A;
                    font-size: 36px;
                    p {
                        float: left;
                    }
                    .soon-more {
                        margin-top: 20px;
                        float: right;
                        font-size: 14px;
                    }
                }
            }
            #bottom-container {
                height: 120px;
                background-color: #4A4A4A;
                color: #FFFFFF;
                clear: left;
                .contact {
                    float: left;
                    margin: 40px 40px 20px 200px;
                }
                .report {
                    float: left;
                    margin: 40px 0 20px 0;
                }
                .copyright {
                    float: left;
                    margin-left: 200px;
                    width: 1000px;
                }
            }
        }
    }
}
#full-cover {
    position: fixed;
    z-index: 200;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    .full-cover-container,
    .full-cover-wrapper {
        height: 100%;
        width: 100%;
    }
    .full-cover-container {
        background-color: rgba(0, 0, 0, 0.6);
    }

}