//电影详情页
#detail
	#detail-wrapper
		#detail-container
			.return-btn.btn
				span < 返回
			.detail-title
				span 查看电影详情
			.detail-content
				.detail-img
				.detail-information
					.information-title
					.information-info
					.information-date
					.information-des
					.de-purchase-btn.btn
						span 购票