#detail
	#detail-wrapper
		#detail-container
			.return-btn.btn
				span < 返回
			.detail-title
				span 查看电影详情
			.detail-content
				.detail-img
				.detail-information
					.information-title
						span 寒战2
					.information-info
						span 110分钟 - 动作 / 剧情
					.information-date
						span 上映日期：2016.07.15
					.information-des
						span 剧情：冲锋车案件主谋李家俊（彭于晏 饰）设计逃脱警方控制，与幕后黑手汇合，联手策划更大阴谋。而现警务处长刘杰辉（郭富城 饰），前警务副处长李文彬（梁家辉 饰），和资深大律师简奥伟（周润发 饰）被卷入其中，香港将面临更加大的危机……
					.de-purchase-btn.btn
						span 购票