extends ../layout

block head
	meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
	title WeTicket
	block css

'''这里是主体'''
block content
	#mainpage
		#mainpage-wrapper
			#mainpage-container
				#top-container
					.logo
					.user
						.login-btn
							span 登录
						.txt
							span |
						.register-btn
							span 注册
				#release-container
					.release-title
						p 正在热映
						.release-more
							span 更多 >>
					.release-movie
						.release-movie-left
							.single-release-movie
						.release-movie-right
							.single-release-movie
				#middle-container
					.movie-select
						select._movie-select
							option 寒战2
							option 大鱼海棠
							option 惊天魔盗团2
					.hall-select
						select._hall-select
							option 1号厅
							option 2号厅
							option 3号厅
					.season-select
						select._season-select
							option 19:00
							option 20:00
							option 21:00
				#soon-container
					.soon-title
						p 即将热映
						.soon-more
							span 更多 >>
					.soon-movie
						.soon-movie
							.single-soon-movie
				#bottom-container
					.contact
						span 联系我们
					.report
						span 问题反馈
					.copyright
						span Copyright © 2015 - 2016 WeTicket. All Rights Reserved.