#full-cover
	.full-cover-wrapper
		.full-cover-container
			.register-field
				.img-field
					.person-logo
					.close-btn
				.user-field
					.user-name
					.user-password
				.register-click
					span 注册
				.login-click
					span 登录