//注册页面
#log
	.log-wrapper
		.log-container
			.register-field
				.img-field
					.close-btn
					.person-logo
				.user-field
					.user-name
						span.user-name-logo
						input._user-name(placeholder = "用户名")
					.user-password
						span.user-password-logo
						input._user-password(placeholder = "密码" type = "password")
				.register-confirm
					span 注册
				.login-click
					span 登录
			.login-field
				.img-field
					.close-btn
					.person-logo
				.user-field
					.user-name
						span.user-name-logo
						input._user-name(placeholder = "用户名")
					.user-password
						span.user-password-logo
						input._user-password(placeholder = "密码" type = "password")
				.miss-password
					span 忘记密码？
				.login-confirm
					span 登录
				.register-click
					span 注册帐号