//定制化电影票
#personal
	.personal-wrapper
		.personal-container
			.personal-content
				.close-btn
				.personal-title
					span 定制个人电影票
				.personal-ticket-pre
					.personal-ticket-pre-name
					.personal-ticket-pre-img
					.personal-ticket-pre-QRcode
					.personal-ticket-pre-time
					.personal-ticket-pre-cinema
					.personal-ticket-pre-seat
					.personal-ticket-pre-feel
				.personal-ticket-now
					.personal-picture
						span._tip 图片
						span._picture 修改图片
					.personal-QRcode
						span._tip 二维码
						span._QRcode 导出二维码
					.personal-feel
						span._tip 影评
						input._feel
				.btn-field
					.cancel-btn.btn
						span 取消
					.next-btn.btn
						span 下一步