//个人首页
#person
	#person-wrapper
		#person-container
			.person-name
				span._modify-person 修改
			.person-info
				.person-img
				.person-email
					span 邮箱：未填写
				.person-phone
					span 电话：未填写
				.person-password
					span._modify-password 修改密码
				.person-profile
					span._modify-profile 修改个人信息
		#personal-ticket
			.personal-ticket-title
				span 定制个人电影票
			.personal-ticket-content
		.modify-password
			.close-btn
			.password-title
				span 修改密码
			.old-password
				input._modify-user-old(placeholder = "请输入旧密码" type = "password")
			.new-password
				input._modify-user-new(placeholder = "请输入新密码" type = "password")
			.btn-field
				.cancel-btn.btn
					span 取消
				.modify-password-confirm.btn
					span 确定
		.modify-profile
			.close-btn
			.profile-title
				span 修改个人信息
			.profile-mail
				span 邮箱
				input._modify-user-mail(placeholder = "请输入新邮箱")
			.profile-phone
				span 手机号码
				input._modify-user-phone(placeholder = "请输入新手机号码")
			.btn-field
				.cancel-btn.btn
					span 取消
				.modify-profile-confirm.btn
					span 确定