#person
	#person-wrapper
		#person-container
			.person-name
				span._modify-person 修改
			.person-info
				.person-img
				.person-email
					span 邮箱：646706396@qq.com
				.person-phone
					span 电话：18819773317
				.person-password
					span._modify-password 修改密码
		#personal-ticket
			.personal-ticket-title
				span 定制个人电影票
			.personal-ticket-content
				.personal-ticket-single
					.delete-btn
					.personal-ticket-single-name
						span 寒战2
					.personal-ticket-single-img
					.personal-ticket-single-time
						span 2016.07.17 19:00
					.personal-ticket-single-cinema
						span 广州珠江金逸电影院
					.personal-ticket-single-seat
						span 1号厅 - 7排8座
					.personal-ticket-single-feel
						span 这电影真好看啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊
				.personal-ticket-single
					.delete-btn
					.personal-ticket-single-name
						span 寒战2
					.personal-ticket-single-img
					.personal-ticket-single-time
						span 2016.07.17 19:00
					.personal-ticket-single-cinema
						span 广州珠江金逸电影院
					.personal-ticket-single-seat
						span 1号厅 - 7排8座
					.personal-ticket-single-feel
						span 这电影真好看啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊
				.personal-ticket-single
					.delete-btn
					.personal-ticket-single-name
						span 寒战2
					.personal-ticket-single-img
					.personal-ticket-single-time
						span 2016.07.17 19:00
					.personal-ticket-single-cinema
						span 广州珠江金逸电影院
					.personal-ticket-single-seat
						span 1号厅 - 7排8座
					.personal-ticket-single-feel
						span 这电影真好看啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊
				.personal-ticket-single
					.delete-btn
					.personal-ticket-single-name
						span 寒战2
					.personal-ticket-single-img
					.personal-ticket-single-time
						span 2016.07.17 19:00
					.personal-ticket-single-cinema
						span 广州珠江金逸电影院
					.personal-ticket-single-seat
						span 1号厅 - 7排8座
					.personal-ticket-single-feel
						span 这电影真好看啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊
				.personal-ticket-single
					.delete-btn
					.personal-ticket-single-name
						span 寒战2
					.personal-ticket-single-img
					.personal-ticket-single-time
						span 2016.07.17 19:00
					.personal-ticket-single-cinema
						span 广州珠江金逸电影院
					.personal-ticket-single-seat
						span 1号厅 - 7排8座
					.personal-ticket-single-feel
						span 这电影真好看啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊
