#personal
	.personal-wrapper
		.personal-container
			.personal-content
				.close-btn
				.personal-title
					span 定制个人电影票
				.personal-ticket-pre
					.personal-ticket-pre-name
						span 寒战2
					.personal-ticket-pre-img
					.personal-ticket-pre-time
						span 2016.07.17 19:00
					.personal-ticket-pre-cinema
						span 广州珠江金逸电影院
					.personal-ticket-pre-seat
						span 1号厅 - 7排8座
					.personal-ticket-pre-feel
						span 这电影真好看啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊
				.personal-ticket-now
					.personal-picture
						span._tip 图片
						span._picture 修改图片
					.personal-QRcode
						span._tip 二维码
						span._QRcode 导出二维码
					.personal-feel
						span._tip 影评
						input._feel
				.btn-field
					.cancel-btn.btn
						span 取消
					.next-btn.btn
						span 下一步