#purchase
	.purchase-wrapper
		.purchase-container
			.choose-season
				.close-btn
				.choose-season-title
					span 请选择电影院及场次
				.choose-season-cinema
					select._choose-cinema
						option 广州珠江金逸国际影城
				.choose-season-hall
					select._choose-hall
						option 1号厅
						option 2号厅
						option 3号厅
						option 4号厅
						option 5号厅
						option 6号厅
				.choose-season-season
					select._choose-season
						option 12:00
						option 14:00
						option 16:00
						option 18:00
						option 20:00
						option 22:00
				.btn-field
					.cancel-btn.btn
						span 取消
					.next-btn.btn.step1-btn
						span 下一步
			.choose-seat
				.close-btn
				.choose-seat-title
					span 请选择座位
				.choose-seat-tip
				.choose-seat-screen
					.choose-seat-screen-font
						span 屏幕
					.choose-seat-screen-seat
						.screen-seat.false
							input(type = "checkbox")
						.screen-seat.false
							input(type = "checkbox")
						.screen-seat.false
							input(type = "checkbox")
						.screen-seat.false
							input(type = "checkbox")
						.screen-seat.false
							input(type = "checkbox")
						.screen-seat.false
							input(type = "checkbox")
						.screen-seat.false
							input(type = "checkbox")
						.screen-seat.false
							input(type = "checkbox")
						.screen-seat.false
							input(type = "checkbox")
						.screen-seat.false
							input(type = "checkbox")
						.screen-seat.false
							input(type = "checkbox")
						.screen-seat.false
							input(type = "checkbox")
						.screen-seat.false
							input(type = "checkbox")
						.screen-seat.false
							input(type = "checkbox")
						.screen-seat.false
							input(type = "checkbox")
						.screen-seat.false
							input(type = "checkbox")
						.screen-seat.false
							input(type = "checkbox")
						.screen-seat.false
							input(type = "checkbox")
						.screen-seat.false
							input(type = "checkbox")
						.screen-seat.false
							input(type = "checkbox")
						.screen-seat.false
							input(type = "checkbox")
						.screen-seat.false
							input(type = "checkbox")
						.screen-seat.false
							input(type = "checkbox")
						.screen-seat.false
							input(type = "checkbox")
						.screen-seat.false
							input(type = "checkbox")
						.screen-seat.false
							input(type = "checkbox")
						.screen-seat.false
							input(type = "checkbox")
						.screen-seat.false
							input(type = "checkbox")
						.screen-seat.false
							input(type = "checkbox")
						.screen-seat.false
							input(type = "checkbox")
						.screen-seat.false
							input(type = "checkbox")
						.screen-seat.false
							input(type = "checkbox")
						.screen-seat.false
							input(type = "checkbox")
						.screen-seat.false
							input(type = "checkbox")
						.screen-seat.false
							input(type = "checkbox")
						.screen-seat.false
							input(type = "checkbox")
						.screen-seat.false
							input(type = "checkbox")
						.screen-seat.false
							input(type = "checkbox")
						.screen-seat.false
							input(type = "checkbox")
						.screen-seat.false
							input(type = "checkbox")
						.screen-seat.false
							input(type = "checkbox")
						.screen-seat.false
							input(type = "checkbox")
						.screen-seat.false
							input(type = "checkbox")
						.screen-seat.false
							input(type = "checkbox")
						.screen-seat.false
							input(type = "checkbox")
						.screen-seat.false
							input(type = "checkbox")
						.screen-seat.false
							input(type = "checkbox")
						.screen-seat.false
							input(type = "checkbox")
						.screen-seat.false
							input(type = "checkbox")
						.screen-seat.false
							input(type = "checkbox")
						.screen-seat.false
							input(type = "checkbox")
						.screen-seat.false
							input(type = "checkbox")
						.screen-seat.false
							input(type = "checkbox")
						.screen-seat.false
							input(type = "checkbox")
						.screen-seat.false
							input(type = "checkbox")
						.screen-seat.false
							input(type = "checkbox")
						.screen-seat.false
							input(type = "checkbox")
						.screen-seat.false
							input(type = "checkbox")
						.screen-seat.false
							input(type = "checkbox")
						.screen-seat.false
							input(type = "checkbox")
						.screen-seat.false
							input(type = "checkbox")
						.screen-seat.false
							input(type = "checkbox")
						.screen-seat.false
							input(type = "checkbox")
						.screen-seat.false
							input(type = "checkbox")
						.screen-seat.false
							input(type = "checkbox")
						.screen-seat.false
							input(type = "checkbox")
						.screen-seat.false
							input(type = "checkbox")
						.screen-seat.false
							input(type = "checkbox")
						.screen-seat.false
							input(type = "checkbox")
						.screen-seat.false
							input(type = "checkbox")
						.screen-seat.false
							input(type = "checkbox")
						.screen-seat.false
							input(type = "checkbox")
						.screen-seat.false
							input(type = "checkbox")
						.screen-seat.false
							input(type = "checkbox")
						.screen-seat.false
							input(type = "checkbox")
						.screen-seat.false
							input(type = "checkbox")
						.screen-seat.false
							input(type = "checkbox")
						.screen-seat.false
							input(type = "checkbox")
						.screen-seat.false
							input(type = "checkbox")
						.screen-seat.false
							input(type = "checkbox")
						.screen-seat.false
							input(type = "checkbox")
						.screen-seat.false
							input(type = "checkbox")
						.screen-seat.false
							input(type = "checkbox")
						.screen-seat.false
							input(type = "checkbox")
						.screen-seat.false
							input(type = "checkbox")
						.screen-seat.false
							input(type = "checkbox")
						.screen-seat.false
							input(type = "checkbox")
						.screen-seat.false
							input(type = "checkbox")
						.screen-seat.false
							input(type = "checkbox")
						.screen-seat.false
							input(type = "checkbox")
				.btn-field
					.cancel-btn.btn
						span 取消
					.next-btn.btn.step2-btn
						span 下一步
			.unlogin-purchase
				.close-btn
				.unlogin-purchase-title
					span 请填写手机号码
				input._phonenumber
				.btn-field
					.cancel-btn.btn
						span 取消
					.next-btn.btn.step3-btn
						span 下一步
			.login-purchase
				.close-btn
				.login-purchase-title
					span 请选择支付途径
				.login-purchase-logo
				.login-purchase-seat
					span 已锁定座位
				.login-purchase-sum
					span 一共消费 90 元
				.login-purchase-tip
					span 请选择支付方式
					select._login-purchase
						option 微信支付
						option 支付宝
				.btn-field
					.cancel-btn.btn
						span 取消
					.next-btn.btn.step3-btn
						span 下一步
			.ticket-field
				.close-btn
				.ticket-title
					span 电子影票
				.ticket
				.btn-field
					.cancel-btn.btn
						span 稍后导出
					.next-btn.btn
						span 导出二维码