#full-cover
    .full-cover-wrapper
        .full-cover-container
            .refund-block.total-center
                .refund-block-header
                    p 发起退款
                    .refund-close-button.close-btn
                    .clear
                .refund-block-content
            .print-block.total-center
                .print-block-header
                    p 选择打印机
                    .print-close-button.close-btn
                    .clear
                .print-block-content
                    .printer-choose-block
                        
                    .button-block
                        button.cancel-btn 取消
                        button.comfirm-btn 确定