#record-order-main
    .ro-container-header
        .date-input-header 日期区间
        .input-field
            input.start-date(data-toggle="datepicker")
            p 至
            input.end-date(data-toggle="datepicker")
            button.search-btn 搜索
                icon.search-icon
            select.type-filter
                option(value="all") 所有订单
                option(value="eatin") 堂食
                option(value="takeout") 外带
                option(value="membership") 会员卡充值
            form(id="export-form" action="/Dinner/Manage/Orders/Excel" method="POST" target="_blank")
                input(id="export-form-st" name="st" type='number' value="0" style="display:none")
                input(id="export-form-en" name="en" type='number' value="0" style="display:none")
                input.export-btn(type="submit" value="导出")
            .clear
    table.ro-container-table
        thead
            tr
                th.rot-pay-time 成交时间
                th.rot-number NO.
                th.rot-order-number 订单号
                th.rot-water-number 流水号
                th.rot-pay-count 交易额
                th.rot-order-type 订单类型
                th.rot-pay-method 支付方式
                th.rot-method 操作
        tbody
    .ro-container-paginate
        a.pre-page-url(href='#')
            icon.prev-page-icon
        p.current-page
        p /
        p.total-page
        a.next-page-url(href='#')
            icon.next-page-icon
        input.target-page-input(type='number' max="100" min="1")
        button.jump-btn 跳转
        .clear
