#category-main.c-block
	.category-new-field
		#new-btn.btn
			.new-btn-wrapper
				.new-btn-contaier
					.new-icon
					p 新建品类
					.clear
		.clear
	.category-all-field
		#category-table
			#t-header-field
				.t-header
					.t-first
						p 品类名
					.t-second
						p 图片
					.t-third
						p 操作
					.clear
			#t-body-field