#full-cover
	.full-cover-wrapper
		.full-cover-container
			.popup.loading-field.total-center.hide
				.animation-field
					.animation-wrapper
						.animation-container
							.logo-pic-field
								.logo-pic
								.shadow
							.word-field
								p 正在加载中
									span.dot