extends ../../layout

block mainHead
	p.title 将单品分为不同品类管理，提高菜单可读性

block head
	script(src="/Manage/Menu/Data" type="text/javascript" async='async')
	meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
	title Braeco
	block css

'''这里是主体'''
block content
	include category

