extends ../layout

block head
	meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
	title WeTicket
	block css

'''这里是主体'''
block content
	#personpage
		#personpage-wrapper
			#personpage-container
