extends index

block css
	script(src='/public/js/common/extra.min.js' type='text/javascript')
	link(rel='stylesheet' type='text/css' href='/public/css/CanteenManageSettings/Staff/Account/main.min.css')
	link(rel='stylesheet' type='text/css' href='/public/css/CanteenManageSettings/Staff/Account/base64.min.css')

block bottom
	script(src='/public/js/CanteenManageSettings/Staff/Account/main.min.js' type='text/javascript')
