#food-single-main.f-block
	.food-single-select-field
		p 品类选择
		.select-container
			select.food-single-select
	.food-single-table				
		.food-single-oper-field
			.oper-container
				#new
					icon.new-icon
					p.new-word 新建
				#edit
					icon.edit-icon
					p.edit-word 修改
				#move
					icon.move-icon
					p.move-word 移动
				#top
					icon.top-icon
					p.top-word 置顶
				#copy
					icon.copy-icon
					p.copy-word 复制
				#show-or-hide
					icon.show-or-hide-icon
					p.show-or-hide-word 售罄
				#remove
					icon.remove-icon
					p.remove-word 删除
				.clear
		.food-single-header-field
			.name-container
				.t-choose
					.choose-pic
				.t-pic
					p 图片
				.t-name
					p 名称
				.t-price
					p 基础价格
				.t-property
					p 属性组
				.t-dc
					p 促销工具
				.t-remark
					p 备注标签
				.clear
		.food-single-list-field
			.single-list-field
