#food-single-edit.f-block
	.f-table
		.f-header-field
			.header-wrapper.t-wrapper
				p.header 编辑单品
		.f-basic-field.top-bottom-border
			.basic-wrapper.t-wrapper
				.basic-container
					.left-part
						.warn-container
							p.warn 带 * 号的为必填项
						.c-name-container.input-container
							p 单品名称 *
							input(id='c-name' name='c-name')
							.clear
						.e-name-container.input-container
							p 英文名
							input(id='e-name' name='e-name')
							.clear
						.default-price-container.input-container
							p 基础价格 *
							input(id='default-price' name='default-price' type="number" min="0")
							.clear
						//.basic-business-container
							.name-part
								p 基础业务 *
								p 价差
							.choose-part.parallel-container
								#choose-buffet.choose-elem
									.choose-field
										.tick
										p 堂食
									.price-field
										.grey-cover
										input(id='buffet-price' name='buffet-price' placeholder='元')
								#choose-take-out.choose-elem
									.choose-field
										.tick
										p 外带
									.price-field
										.grey-cover
										input(id='take-out-price' name='take-out-price' placeholder='元')
								#choose-delivery.choose-elem
									.choose-field
										.tick
										p 外卖
									.price-field
										.grey-cover
										input(id='delivery-price' name='delivery-price' placeholder='元')
								#choose-combo-only.choose-elem
									.choose-field
										.tick
										p 仅套餐
									.price-field
										.grey-cover
										input(id='combo-only-price' name='combo-only-price' placeholder='元')
								.clear
							.clear
					.right-part
						.pic-field
							label(for='edit-pic')
								.img-field
									.img(class='default-square-image')
								.warn-field.total-center
									p 点击上传图片
									p 建议尺寸:
									p 200像素 * 200像素
							input(name='edit-pic', id='edit-pic' type='file' class='hide')
					.clear
		.f-extra-field
			.extra-wrapper.t-wrapper
				.extra-container
					.property-container
						.left-part
							p 属性组
							#property
								.btn-field
									.add-btn +
								.sub-item-field
									ul.property-sub-item-list
										li.sub-item
											p 蛋糕口味
											.delete-icon
										li.sub-item
											p 蛋糕口味
											.delete-icon
										li.sub-item
											p 蛋糕口味
											.delete-icon
										li.sub-item
											p 蛋糕口味
											.delete-icon
										li.sub-item
											p 蛋糕口味
											.delete-icon
										li.sub-item
											p 蛋糕口味
											.delete-icon
										li.sub-item
											p 蛋糕口味
											.delete-icon
										li.sub-item
											p 蛋糕口味
											.delete-icon
										.clear
							.clear
						.right-part
							.btn-field
								.btn.manage-property-btn
									p 管理属性组
								.clear
						.clear
					.remark-tag-container
						.left-part
							p 备注标签
						.right-part
							input(id="remark-tag" name="remark-tag" placeholder='最多9个汉字')
						.clear
					.intro-container
						.left-part
							p 详情介绍
						.right-part
							textarea(id="intro" name="intro")
						.clear
		//.f-shelves-field.top-bottom-border
			.shelves-wrapper.t-wrapper
				.shelves-container
					.date-container
						p 上架日期
						ul.date-list.parallel-container
							li#date-Mon.parallel-container
								.tick
								p 周一
								.clear
							li#date-Tue.parallel-container
								.tick
								p 周二
								.clear
							li#date-Wed.parallel-container
								.tick
								p 周三
								.clear
							li#date-Thurs.parallel-container
								.tick
								p 周四
								.clear
							li#date-Fri.parallel-container
								.tick
								p 周五
								.clear
							li#date-Sat.parallel-container
								.tick
								p 周六
								.clear
							li#date-Sun.parallel-container
								.tick
								p 周日
								.clear
							.clear
						.clear
					.time-container
						.left-part
							p 上架时间
							#time
							.clear
						.right-part
							.btn-field
								.btn.manage-time-btn
									p 管理上架时间
								.clear
						.clear
		.f-dc-field
			.dc-wrapper.t-wrapper
				.dc-container
					.dc-tool-container.parallel-container
						p 促销工具
						.select-field
							select(id='select-dc-type')
								option(value='none') 无
								option(value='sale') 减价优惠
								option(value='discount') 折扣优惠
								option(value='half') 第二杯半价
								option(value='limit') 限量供应
						.addtional.parallel-container
							input(type="number" placeholder='(1-99)' max='99' min='1')
							p 份
							.clear
						.clear
					//.effective-date-container.parallel-container
						p 有效日期
						.select-field
							select(id='select-effective-date' class='total-center')
								option(value='range') 日期区间
								option(value='all') 所有时间
						.clear
					//.date-range-container
						p 日期区间
						.range-field.parallel-container
							input(type="date" id="date-range-start")
							p 至
							input(type="date" id="date-range-end")
							.clear
						.clear
					//.time-range-container
						p 启用时间
						.range-field.parallel-container
							input(type="time" id="time-range-start")
							p 至
							input(type="time" id="time-range-end")
							.clear
						.clear
		.f-oper-field
			.oper-wrapper.t-wrapper
				.oper-container
					.oper-field
						.cancel-btn.btn
							p 取消
						.save-btn.btn
							p 保存
						.clear
