extends index

block css
	script(src='/public/js/common/extra.min.js' type='text/javascript')
	link(rel='stylesheet' type='text/css' href='/public/css/CanteenManageMenu/Food/Single/main.min.css')
	link(rel='stylesheet' type='text/css' href='/public/css/CanteenManageMenu/Food/Single/base64.min.css')

block bottom
	script(src='/public/js/CanteenManageMenu/Food/Single/main.min.js' type='text/javascript')
