#full-cover
	.full-cover-wrapper
		.full-cover-container
			.popup.copy-field.total-center.hide
				.title-field
					.title-wrapper.parallel-container
						p.title 复制到其他品类
						.close-field
							.close-btn
						.clear
				.content-field
					.content-wrapper.parallel-container
						p 目标品类
						.select-field
							select(id="select-copy")
					.clear
				.btn-field
					.btn-wrapper
						.btn-container
							.cancel-btn.btn
								p 取消
							.confirm-btn.btn
								p 确定
							.clear
			.popup.move-field.total-center.hide
				.title-field
					.title-wrapper.parallel-container
						p.title 移动到其他品类
						.close-field
							.close-btn
						.clear
				.content-field
					.content-wrapper.parallel-container
						p 目标品类
						.select-field
							select(id="select-move")
					.clear
				.btn-field
					.btn-wrapper
						.btn-container
							.cancel-btn.btn
								p 取消
							.confirm-btn.btn
								p 确定
							.clear
			.popup.property-field.total-center.hide
				.title-field
					.title-wrapper.parallel-container
						p.title 添加属性组
						.close-field
							.close-btn
						.clear
				.content-field
					.content-wrapper
						.content-container
							ul.property-content-list
								
				.btn-field
					.btn-wrapper
						.btn-container
							.cancel-btn.btn
								p 取消
							.confirm-btn.btn
								p 确定
							.clear
			.popup.loading-field.total-center.hide
				.animation-field
					.animation-wrapper
						.animation-container
							.logo-pic-field
								.logo-pic
								.shadow
							.word-field
								p 正在加载中
									span.dot