extends ../../layout

block mainHead
	p.title 所有到店顾客都可零门槛成为会员，维护会员
	#Member-nav.head-nav
		.Member-nav-wrapper.nav-wrapper
			ul.Member-nav-container.nav-container
				a(href='/Manage/Market/Member/List')
					li#Basic 会员列表
				a(href='/Manage/Market/Member/Level')
					li#Level 等级折扣
				a(href='/Manage/Market/Member/Recharge')
					li#Recharge 充值项
				.clear
