extends index

block css
	include ../../../commonlib
	link(rel='stylesheet' type='text/css' href='/public/css/specialCommon/datepicker.min.css')
	link(rel='stylesheet' type='text/css' href='/public/css/CanteenManageMarket/Promotion/Single/main.css')
	link(rel='stylesheet' type='text/css' href='/public/css/CanteenManageMarket/Promotion/Single/base64.css')

block bottom
	script(src='/public/js/specialCommon/jquery.md5.js' type='text/javascript')
	script(src='/public/js/specialCommon/datepicker.min.js' type='text/javascript')
	script(src='/public/js/CanteenManageMarket/Promotion/Single/main.js' type='text/javascript')
