#promotion-single-main.ps-block
    .ps-main-header
        .psm-header-title 促销项（共5条）
        .psm-header-new-button
            icon.add-icon
            p 新建促销项
        .clear
    table.psm-table
        thead
            tr
                th.psm-table-item 促销项
                th.psm-table-promotion 单品优惠
                th.psm-table-time 时间
                th.psm-table-foods 适用餐品
                th.psm-table-operations 操作
        tbody
            tr
                td 永久降价
                td 立减2元
                td
                    .psm-table-date 永久
                    .psm-table-time 00:00-23:59
                td 共20款餐品应用该促销项
                td
                    a(href="#") 修改
                    a(href="#") 停用
                    a(href="#") 删除 
            tr
                td 情人节9折
                td 9折
                td
                    .psm-table-date 2016/02/14
                    .psm-table-time 00:00-23:59
                td 共8款餐品应用该促销项
                td
                    a(href="#") 修改
                    a(href="#") 停用
                    a(href="#") 删除 
            tr
                td 早餐永久折扣
                td 9.5折
                td
                    .psm-table-date 永久
                    .psm-table-time 00:00-23:59
                td 共11款餐品应用该促销项
                td
                    a(href="#") 修改
                    a(href="#") 停用
                    a(href="#") 删除 
            tr
                td 圣诞节减1元
                td 立减1元
                td
                    .psm-table-date 2015/12/25
                    .psm-table-time 00:00-23:59
                td 共50款餐品应用该促销项
                td
                    a(href="#") 修改
                    a(href="#") 停用
                    a(href="#") 删除
            tr
                td 榴莲披萨限量（仅晚上提供）
                td 立减1元
                td
                    .psm-table-date 永久
                    .psm-table-time 00:00-23:59
                td 共2款餐品应用该促销项
                td
                    a(href="#") 修改
                    a(href="#") 停用
                    a(href="#") 删除 

                
            