extends ../../layout

block mainHead
	p.title 菜单最基本单位，丰富信息将吸引顾客下单
	#food-nav.head-nav
		.food-nav-wrapper.nav-wrapper
			ul.food-nav-container.nav-container
				a(href='/Manage/Menu/Food/Single')
					li#Single 单品
				a(href='/Manage/Menu/Food/Property')
					li#Property 属性组
				//a(href='/Manage/Menu/Food/Shelves')
					li#Shelves 上架时间
				.clear
