extends index

block css
	include ../../../commonlib
	link(rel='stylesheet' type='text/css' href='/public/css/CanteenManageBusiness/HallOrder/Basic/main.css')
	link(rel='stylesheet' type='text/css' href='/public/css/CanteenManageBusiness/HallOrder/Basic/base64.css')

block bottom
	script(src='/public/js/CanteenManageBusiness/HallOrder/Basic/main.js', type='text/javascript')
