extends ../index

block head
	script(src="/Manage/Business/HallOrder/Basic/Data" type="text/javascript" async='async')
	meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
	title Braeco
	block css

'''这里是主体'''
block content
	include basicMain
	#business
		#selectBusiness
			#runBusiness
				.run-btn.btn
					#runMes
						p 启用本业务
			#stopBusiness
				.stop-btn.btn
					#stopMes
						p 业务已停用
			#modifyForBus
				.modify-btn.btn
					p 修改
		#previewBusiness
			#previewTitle
				p 业务信息
			#modifyTime
				#hel 接单日期
				#showDay
				#iel 接单时间
				#showTime
			#modifyPay
				p 支付渠道
					span(id = "showPay")
			#modifyMeal
				p 适用餐品
					span(id = "showCan")
		#modifyBusiness
			form(id = "myForm")
				#modifySetting
					p 修改业务信息
				#modifyTime
					#orderDate
						.od
							span 接单日期
						.weekday.true
							input(type = "checkbox" checked = "checked")
							span 周一
						.weekday.true
							input(type = "checkbox" checked = "checked")
							span 周二
						.weekday.true
							input(type = "checkbox" checked = "checked")
							span 周三
						.weekday.true
							input(type = "checkbox" checked = "checked")
							span 周四
						.weekday.true
							input(type = "checkbox" checked = "checked")
							span 周五
						.weekday.true
							input(type = "checkbox" checked = "checked")
							span 周六
						.weekday.true
							input(type = "checkbox" checked = "checked")
							span 周日
					#orderTimer
						span#ss 接单时间
							#timerAll
								#timerDiv
									#timer
										input(type = "time")
										span 至
										input(type = "time")
									.modifyDelTime.btn
										.delete-img
								#timerDiv
									#timer
										input(type = "time")
										span 至
										input(type = "time")
									.modifyDelTime.btn
										.delete-img
							.modifyAddTime.btn
								p +添加时段
				#modifyPay
					.paymentWay
						.payWay
							span 支付渠道
						.payment.true
							input(type = "checkbox" checked = "checked")
							span 现金支付
						.payment.true
							input(type = "checkbox" checked = "checked")
							span 支付宝
						.payment.true
							input(type = "checkbox" checked = "checked")
							span 微信支付
						.payment.true
							input(type = "checkbox" checked = "checked")
							span 百度钱包
				#modifyMeal
					p 适用餐品
						select(id = "selNum")
							option 全选
							option 其他一
							option 其他二
				#modifyChoose
					.canBtn.btn
						p 取消
					.finBtn.btn
						p 保存